{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div id="contenu">
    <h3>Créer un compte</h3>

    {{ form_start(form) }}
    
    <div>
        <label for="form_pseudo">Nom d'utilisateur<span style="color:red;">*</span></label>
        {{ form_errors(form.pseudo) }}
        {{ form_widget(form.pseudo) }}
        {#<input type="text" class="form-control" id="form_pseudo" name="form[pseudo]" />#}
    </div>

    <div>
        <label for="form_email">Adresse email<span style="color:red;">*</span></label>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
        {#<input type="text" class="form-control" id="form_email" name="form[email]" aria-describedby="emailHelp"/>#}
    </div>

    <div>
        <label for="form_mdp">Mot de passe<span style="color:red;">*</span></label>
        {{ form_errors(form.mdp) }}
        {{ form_widget(form.mdp) }}
        {#<input type="password" class="form-control" id="form_mdp" name="form[mdp]" />#}
    </div>

    <div>
        <label for="form_confirm_mdp">Confirmer le mot de passe<span style="color:red;">*</span></label>
        {{ form_errors(form.confirm_mdp) }}
        {{ form_widget(form.confirm_mdp) }}
        {#<input type="password" class="form-control" id="form_confirm_mdp" name="form[confirm_mdp]" />#}
    </div>

    {#{{ form_row(form.pseudo, {'label': 'Nom d\'utilisateur', 'attr':{'class':'form-control'}}) }}<br>
    {{ form_row(form.email, {'label': 'Adresse email', 'attr':{'class':'form-control'}}) }}<br>
    {{ form_row(form.mdp, {'label': 'Mot de passe', 'attr':{'class':'form-control'}}) }}<br>
    {{ form_row(form.confirm_mdp, {'label': 'Confirmer le mot de passe', 'attr':{'class':'form-control'}}) }}<br>#}

    <button type="submit" class="btn btn-success">Valider</button>
    <button type="submit" class="btn btn-success">Annuler</button>

    {{ form_end(form) }}
</div>

{% endblock %}