{% extends 'base.html.twig' %}

{% block body %}

<!--<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form><br>-->

<div id="contenu">

    <h3>Détail des cotisations</h3>
    <a href="{{ path('cotisation') }}"><button type="submit" class="btn btn-secondary my-2 my-sm-0">Retour</button></a><br><br>
    {% for cotisation in cotisations %}
      <b>Montant total des cotisations : {{ cotisation.TOTAL_COTISATION | number_format(2,'.') }}€</b>   {#arrondi la valeur au dixième près#}
    {% endfor %}
    <table>
      <tr>
        <th>Numéro d'appartement</th>
        <th>Prix de location</th>
        <th>Cotisation</th>
      </tr>
    {% for appartement in appartements %}
      <tr>
        <td>{{ appartement.NUMAPPART }}</td>
        <td>{{ appartement.PRIX_LOC }}</td>
        <td>{{ appartement.APPART_COTISATION | number_format(2,'.') }}</td>  {#arrondi la valeur au dixième près#}
        
      </tr>
    {% endfor %}
    </table>
    

</div>

{% endblock %}
